html, body {
  width: 100%;
  height: 100%;
  margin:0;
}

#sketch, #sketch2 {
  border: 1px solid gray;
  height: 320px;
  width: 480px;
  position: relative;
}
#card {
  width:480px;
  height:320px;
}

#tmp_canvas {
  position: absolute;
  left: 0px; right: 0;
  bottom: 0; top: 0;
  cursor: crosshair;
}