body {
  padding: 0;
}

.drawboard {
  border:2px solid #ccc;
  padding:0;
  margin-left:auto;
  margin-right:auto;
  float:none;
}
.color-dimple {
  width:1.5em;
  height:1.5em;
  border:1px solid #fff;
  display:inline-block;
  margin-bottom:-0.3em;
  margin-right:0.5em;
}
.dimple {
  font-size:1em;
  width:1em;
  height:1em;
  border-radius:0.5em;
  display:inline-block;
  background:#999;
}
.dimple.large { font-size:1.5em; }
.dimple.small { font-size:0.5em; }