body {
  padding: 0;
}
.drawboard-container {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-around;
  flex-wrap: wrap;
}
.drawboard {
  width:90vw;
  height:60vw;
  margin-left:auto;
  margin-right:auto;
  border:1px solid #ccc;
  position:relative;
}
.tools {
  width:90vw;
}
.receivers {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-around;
  flex-wrap: wrap;
}
.receiver {
  width:50%;
}
.receiver-container {
  position:relative;
}
.receiver-container img {
  z-index:1;
}
.text-overlay {
  position:absolute;
  right:0;
  left:0;
  top:0;
  padding:3vw;
  text-align:center;
  font-size:3vw;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  z-index:10;
}
.receiver-container .bets {
  z-index:10;
  position:absolute;
  top:150px;
  left:0;
}
.btn-dimple {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: center;
  align-items:center;
  width:5vw;
  height:5vw;
  padding:0;
  float:left;
}
.form-control {
  height:5vw;
}
.drawboard-container .input-group button {
  height:5vw;
}
.color-dimple {
  width:1.5em;
  height:1.5em;
  border:1px solid #fff;
  display:block;
}
.text-overlay.large {
  font-size: 8vw;
}
.text-overlay.small {
  font-size: 4vw;
  padding:2vw;
}
.dimple {
  font-size:1em;
  width:1em;
  height:1em;
  border-radius:0.5em;
  display:block;
  background:#999;
}
.dimple.large { font-size:1.5em; }
.dimple.small { font-size:0.5em; }
.clear-and-submit { margin-top:2vw;}

@media (min-width: 768px) {
  .drawboard {
    width:70vw;
    height:46.67vw;
    margin-left:auto;
    margin-right:auto;
  }
  .tools {
    width:25vw;
    margin-left:auto;
    margin-right:auto;
  }
  .text-overlay.large {
    font-size:6vw;
  }
  .text-overlay.small {
  }
}