<div class="row">
    <div class="col-sm-6 col-xs-12">
        <button type="button" class="btn btn-default" ng-click="clear()">Clear</button>
    </div>
    <div class="col-sm-6 col-xs-12 text-right">
        <button type="button" class="btn btn-default" ng-click="onSubmit()">Submit</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
        <button class="btn btn-primary" colorpicker ng-model="color"><span ng-style="{'background': color}" class="color-dimple"></span>Select a color</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-8 center-block drawboard">
        <canvas></canvas>
    </div>
</div>