<div class="row">
    <div ng-keypress="keypress($event)" ng-click="click($event)" tabindex="0" class="col-xs-8 drawboard">
        <div ng-style="{ color: text.color }" class="text-overlay large" unselectable="on">
            {{text.content}}
        </div>
        <canvas></canvas>
    </div>
    <div class="col-xs-4">
        <div>
            <button class="btn btn-primary" colorpicker ng-model="color"><span ng-style="{'background': color}" class="color-dimple"></span></button>
            <button class="btn" ng-class="{ 'btn-primary': size==3, 'btn-default': size !== 3 }" ng-click="size=3"><span ng-style="{'background': color}" class="dimple small"></span></button>
            <button class="btn" ng-class="{ 'btn-primary': size==5, 'btn-default': size !== 5 }" ng-click="size=5"><span ng-style="{'background': color}" class="dimple medium"></span></button>
            <button class="btn" ng-class="{ 'btn-primary': size==8, 'btn-default': size !== 8 }" ng-click="size=8"><span ng-style="{'background': color}" class="dimple large"></span></button>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-btn">
                <button class="btn btn-primary" colorpicker ng-model="text.color"><span ng-style="{'background': text.color }" class="color-dimple"></span></button>
                </span>
                <input type="text" class="form-control" ng-model="text.content"/>
            </div> 
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <button type="button" class="btn btn-default" ng-click="clear()">Clear</button>
            </div>
            <div class="col-sm-6 col-xs-12 text-right">
                <button type="button" class="btn btn-default" ng-click="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>