<div class="row">
  <div class="col-xs-7"><h5>Answer A Thing</h5></div>
  <div class="col-xs-5 text-right"><a class="btn btn-default" ng-click="logout()">Logout</a></div>
</div>
<a href="#/lobby" class="col-xs-12 btn btn-default">Go back</a>
<h4>How to play</h4>
<ol>
  <li>Each round, one player is chosen to be the caller.</li>
  <li>The caller picks a question to ask.</li>
  <li>Then, everyone else writes or draws an answer to that question.</li>
  <li>Once everyone has submitted an answer, the caller secretly picks which answer they like best.</li>
  <li>Everyone else then bets up to 2 times on which answer they think the caller picked.</li>
  <li>You get one point for each time you bet correctly, and 1 point for having your answer chosen.</li>
  <li>The game normally ends after everyone has played 2 or 3 turns as a caller, but you can keep playing for as long as you like!</li>
</ol>