<div class="row">
  <div class="row">
    <div class="col-xs-10">
      <h3>{{gameState.user.room.name}}</h3>
      <p ng-show="gameState.user.username==gameState.user.room.caller">You are the caller</p>
      <p ng-show="!angular.isArray(gameState.user.room.question) && gameState.user.room.question">{{gameState.user.room.question}}</p>
      <code>{{gameState.user.room}}</code>
    </div>
    <div class="col-xs-2 text-right">
      <button class="btn btn-default" ng-click="leaveRoom()"><span class="glyphicon glyphicon-remove"></span></button>
      <button class="btn btn-primary" ng-click="startGame()" ng-show="gameState.user.room.state.status=='waiting'">Start Game</button>
    </div>

  </div>
  <div class="col-md-12">
    <drawboard on-submit="submit" on-progress="progress"></drawboard>
  </div>
  <receiver></receiver>
</div>