<div class="row">
  <div class="row">
    <div class="col-xs-10">
      <h3>{{gameState.user.room.name}}</h3>
      <p ng-show="isCaller()">You are the caller</p>
      <p ng-show="!isArray(gameState.user.room.question) && gameState.user.room.question">{{gameState.user.room.question}}</p>
      <p ng-show="isArray(gameState.user.room.question) && isCaller()">
        <button class="btn btn-primary col-xs-12" ng-repeat="question in gameState.user.room.question track by $index" ng-click="selectQuestion($index)">Question: {{question}}</button>
      </p>
      <div ng-show="gameState.user.room.status == 'callerSelectAnswer' && isCaller()">
        <button class="btn btn-primary col-xs-12" ng-repeat="user in gameState.user.room.users track by $index" ng-click="selectAnswer($index)">Answer: {{user}}</button>
      </div>
      <code>{{gameState.user.room}}</code>
    </div>
    <div class="col-xs-2 text-right">
      <button class="btn btn-default" ng-click="leaveRoom()"><span class="glyphicon glyphicon-remove"></span></button>
      <button class="btn btn-primary" ng-click="startGame()" ng-show="gameState.user.room.state.status=='waiting'">Start Game</button>
    </div>

  </div>
  <div class="col-md-12" ng-hide="gameState.user.username == gameState.user.room.caller">
    <drawboard on-submit="submit" on-progress="progress"></drawboard>
  </div>
  <receiver clickHandler="clickHandler"></receiver>
</div>