<h3 class="row">
  <div class="col-xs-10">
    {{gameState.user.room.name}}
  </div>
  <div class="col-xs-2 text-right">
    
    <button class="btn btn-default" ng-click="leaveRoom()"><span class="glyphicon glyphicon-remove"></span></button>
  </div>
</h3>
<h4 ng-show="isCaller()">You are the caller</h4>
<p class="well well-sm" ng-show="!isArray(gameState.user.room.question) && gameState.user.room.question">{{gameState.user.room.caller}} Asks: {{gameState.user.room.question}}</p>
<div class="row question-row" ng-show="isArray(gameState.user.room.question) && isCaller()">
  <button class="btn btn-primary col-xs-12" ng-repeat="question in gameState.user.room.question track by $index" ng-click="selectQuestion($index)">Question: {{question}}</button>
</div>
<p class="well well-sm" ng-show="gameState.user.room.state.status == 'playersAnswerQuestion' && isCaller()">
  Players are answering <span ng-show="gameState.user.room.state.timerEnd">({{ timeLeft }}s Left)</span>
</p>
<p class="well well-sm" ng-show="gameState.user.room.state.status == 'callerSelectAnswer' && isCaller()">
  Select an answer by clicking below. <span ng-show="gameState.user.room.state.timerEnd">({{ timeLeft }}s Left)</span>
</p>
<p class="well well-sm" ng-show="gameState.user.room.state.status == 'playersBet' && isCaller()">
  Players are betting. <span ng-show="gameState.user.room.state.timerEnd">({{ timeLeft }}s Left)</span>
</p>
<p class="well well-sm" ng-show="gameState.user.room.state.status == 'callerSelectQuestion' && !isCaller()">
  {{gameState.user.room.caller}} is selecting a question. <span ng-show="gameState.user.room.state.timerEnd">({{ timeLeft }}s Left)</span>
</p>
<p class="well well-sm" ng-show="gameState.user.room.state.status == 'callerSelectAnswer' && !isCaller()">
  {{gameState.user.room.caller}} is selecting an answer. <span ng-show="gameState.user.room.state.timerEnd">({{ timeLeft }}s Left)</span>
</p>
<p class="well well-sm" ng-show="gameState.user.room.state.status == 'playersBet' && !isCaller()">
  Bet by clicking an answer below. <span ng-show="gameState.user.room.state.timerEnd">({{ timeLeft }}s Left)</span>
</p>
<p class="well well-sm" ng-show="gameState.user.room.state.status == 'results'">
  The round is over, {{gameState.user.room.caller}} selected the answer by: {{gameState.user.room.winningUser}}  <span ng-show="gameState.user.room.state.timerEnd">({{ timeLeft }}s Left)</span>
</p>
<div class="row question-row" ng-show="gameState.user.room.state.status=='waiting'">
  <button class="btn btn-primary col-xs-12" ng-click="startGame()">Start Game</button>
</div>
<drawboard on-submit="submit" on-progress="progress" ng-hide="isCaller() || cantDraw()"></drawboard>
<receiver click-handler="clickHandler"></receiver>